<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>404</title>
	<link rel="stylesheet" href="/static/index/css/dmaku.min.css" th:href="@{/asserts/css/dmaku.min.css}" type="text/css" media="all">
	<link rel="stylesheet" href="/static/index/css/dmaku.min.css" th:href="@{/asserts/css/ue.css}" type="text/css" media="all">
	<link rel="stylesheet" href="/static/index/css/dmaku.min.css" th:href="@{/asserts/css/dmaku.css}" type="text/css" media="all">
	<script type="text/javascript" src="/static/index/js/jquery.js" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
	<script src="/static/index/js/modernizr.js" th:src="@{/asserts/js/modernizr.js}"></script>
</head>
<body>
<div class="container">
	<div class="container_1"><img src="images/404.png" th:src="@{/asserts/img/404.png}"></div>
	<div class="container_2"><img src="images/3.22.gif" th:src="@{/asserts/img/3.22.gif}"></div>
	<div class="container_3">
		<div class="container_3_1"><span>SORRY你要访问的页面弄丢了</span></div>
		<div class="container_3_2"><span>你可以通过以下方式重新访问......</span></div>
	</div>
</div>
<div class="maincolumn">
	<div class="maincolumn_bg">
		<ul>
			<li><a href="javascript:;" th:href="@{/}">返回首页</a></li>
		</ul>
	</div>

</div>
</body></html>