<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个性化设置</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="Expires" content="0"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css" th:href="@{/asserts/css/main.css}"/>
    <link type="text/css" rel="stylesheet" href="css/ie6.css" th:href="@{/asserts/css/ie6.css}"/>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <!-- 引入顶部公共栏，通过模板名::选择器的方式引入 -->
            <div th:replace="common/common::#scene"></div>
            <div id="content">
                <div id="col_left">
                    <div class="post">
                        <div class="meta"></div>
                        <div class="comments">
                            <h2>个性化设置</h2>
                            <form class="h" action="" th:action="@{/editBlogInfo}" method="post">
                                <div>
                                    <label>博客标题:</label>
                                    <input type="text" name="blogtitle"/>
                                </div>
                                <div>
                                    <label>个性签名:</label>
                                    <input type="text" name="idiograph"/>
                                </div>
                                <div>
                                    <label></label>
                                    <div class="clear"></div>
                                </div>
                                <div class="button_wrapper">
                                    <input name="保存" type="submit" class="button" value="保存"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="col_right">
                    <div id="search_box">
                        <form action="" method="post">
                            <div>
                                <input type="text" name="search"/>
                            </div>
                            <div class="button_wrapper">
                                <input type="submit" value="Search" class="button"/>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                    <div id="sidebar">
                        <h2>页面导航</h2>
                        <ul>
                            <li><a href="" th:href="@{/qrySiteArticle(pno=1)}">博客首页</a></li>
                            <li th:if="${username}==null"><a href="" th:href="@{/register}">注册</a></li>
                            <li th:if="${username}==null"><a href="" th:href="@{/}">登录</a></li>
                            <li th:if="${username}!=null"><a href="" th:href="@{/qryAllArticle(pno=1)}">用户首页</a></li>
                            <li th:if="${username}!=null"><a href="" th:href="@{/editBlogInfo}">个性化设置</a></li>
                            <li th:if="${username}!=null"><a href="" th:href="@{/addArticle}">写博客</a></li>
                            <li th:if="${username}!=null"><a href="">相册</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- 引入底部栏 -->
            <div th:replace="common/common::#footer"></div>
        </div>
    </div>
</body>
</html>
