@font-face {
  font-family: 'ue';  /* project id 519832 */
  src: url('//at.alicdn.com/t/font_519832_hpjffdg3sfhto6r.eot');
  src: url('//at.alicdn.com/t/font_519832_hpjffdg3sfhto6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_519832_hpjffdg3sfhto6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_519832_hpjffdg3sfhto6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_519832_hpjffdg3sfhto6r.svg#ue') format('svg');
}
.ue{font-family:"ue" !important;font-size:14px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-stroke-width: 0.2px;}

